<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Conrado Roura</title>
    <link rel="stylesheet" href="/app.css"> <!-- Link to your CSS file -->

</head>
<body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/works">Professional</a></li>
                <li><a href="/gallery">Photo Gallery</a></li>
            </ul>
        </nav>

        <section class="about-section">
            <div class=" cards">
            <div class="biography card">
                <div class="card-inner">
                    <div class="card-front">
                        <h2>BIOGRAPHY</h2>
                    </div>
                    <div class="card-back">
                        <p>
                            Conrado Roura was born on 28 February 1996 in Argentina, is a celebrated rugby player known for his passion and dedication to the sport. Starting his journey at local club Palermo Bajo, Roura quickly rose through the ranks, showcasing exceptional talent and a deep love for rugby.
                        </p>
                    </div>
                </div>
            </div>
        
            <div class="career card">
                <div class="card-inner">
                    <div class="card-front">
                        <h2>CAREER HIGHLIGHTS</h2>
                    </div>
                    <div class="card-back">
                        <p>
                            He plays as a flanker and has also showcased his skills for Peñarol in the Súper Liga Americana de Rugby and the Dallas Jackals in Major League Rugby. Roura previously represented Argentina Sevens, competing in 13 tournaments between 2017 and 2018.
                        </p>
                    </div>
                </div>
            </div>
        
            <div class="legacy card">
                <div class="card-inner">
                    <div class="card-front">
                        <h2>LEGACY</h2>
                    </div>
                    <div class="card-back">
                        <p>
                            Conrado Roura is not only an inspiring athlete but also a testament to the growth of Argentine rugby on the international stage. At just 28 years old, he continues to play professionally, currently with Rangers Vicenza in Italy. His dedication and contributions to the sport have made him a role model for aspiring rugby players, showcasing the potential of Argentine talent in global competitions.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        </section>
        

    <footer>
        <p>&copy; 2024 Conrado Roura´s Page. All rights reserved.</p>
    </footer>
</body>
</html>
