<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - My Boyfriend</title>
    <link rel="stylesheet" href="/app.css"> <!-- Link to your CSS file -->
</head>
<body>
 

    <nav>
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/works">Professional</a></li>
            <li><a href="/gallery">Photo Gallery</a></li>
        </ul>
    </nav>

    <section class="home-section">
            <div class="div-home">
                <h1 class="conradoh1">
                    CONRADO <br/> ROURA
                </h1>
            </div>
        </section>

    <footer>
        <p>&copy; 2024 Conrado Roura´s Page. All rights reserved.</p>
    </footer>
</body>
</html>
