<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Gallery</title>
    <link rel="stylesheet" href="/app.css"> <!-- Link to your CSS file -->
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/works">Professional</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>

    <section class="photo-gallery">
        <div class="gallery-grid">
            <img src="/CONRA1.png" alt="Conrado Image 1">
            <img src="/CONRA2.png" alt="Conrado Image 2">
            <img src="/CONRA3.png" alt="Conrado Image 3">
            <img src="/CONRA4.png" alt="Conrado Image 4">
            <img src="/CONRA5.png" alt="Conrado Image 5">
            <img src="/CONRA6.png" alt="Conrado Image 6">
            <img src="/CONRA7.png" alt="Conrado Image 7">
            <img src="/CONRA8.png" alt="Conrado Image 8">
            <img src="/CONRA10.png" alt="Conrado Image 10">
            <img src="/CONRA11.png" alt="Conrado Image 11">
            <img src="/CONRA12.png" alt="Conrado Image 12">
        </div>
    </section>

    <footer>
        <p>&copy; 2024 Conrado Roura's Page. All rights reserved.</p>
    </footer>
</body>
</html>
