<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Conrado Roura</title>
    <link rel="stylesheet" href="/app.css"> <!-- Link to your CSS file -->

</head>
<body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/gallery">Photo Gallery</a></li>
            </ul>
        </nav>

<section class="professional-board">
    <div class="divs-of-divs">
    <div class="profile-overview">
        <img src="/profileConra.png" alt="Profile Picture">
        <div class="text-profile-overview">
            <h1>CONRADO ROURA</h1>
            <h2>Professional Rugby Player</h2>
        </div>
      
    </div>

    <div class="career-timeline">
        <h2>Career Highlights</h2>
        <ul>
            <li>2024 - Signed with Rangers Vicenza</li>
            <li>2022 - Played for Dallas Jackals</li>
            <li>2018 - Represented Argentina Sevens</li>
        </ul>
    </div>

    <div class="skills-section">
        <h2>Key Skills</h2>
        <ul>
            <li>Leadership</li>
            <li>Physical Endurance</li>
            <li>Game Strategy</li>
            <li>Teamwork</li>
        </ul>
    </div>

    <div class="testimonials">
        <h2>Testimonials</h2>
        <blockquote>"Conrado is a true leader both on and off the field." - Curry </blockquote>
    </div>

    <div class="media-section">
        <h2>In the Media</h2>
        <p>conrarourapb@gmail.com</p>

        <a href="https://www.youtube.com/watch?v=sbb3v6rOnVQ">Watch latest try</a>
    </div>
</div>
</section>
     

<footer>
    <p>&copy; 2024 Conrado Roura´s Page. All rights reserved.</p>
</footer>
</body>
</html>
